@media screen and (max-width: 680px) {
	main {
		width: auto;
		float: none;
	}
	#materi {
		width: auto;
		float: none;
	}
	aside {
		width: auto;
		float: none;
	}
}
body {
	margin: 0;
	padding: 10px;
	color: #FFF;
	background: #0C0B0B;
}
main {
	background-color: rgba(35, 37, 50, 0.3);
	padding: 40px;
	border-color: transparent;
	border-radius: 10px;
	max-height: auto;
}
.shadow {
	box-shadow: -7px 1px 18px black;
}
#header {
	border-radius: 15px 15px 0 0;
	width: 100%;
	height: auto;
	margin: -10px 15px 0px 0px;
	background-color: rgb(7, 32, 40);
}
#header .logo {
	display: flex;
	margin-top: 10px;
	justify-content: center;
	align-self: center;
	position: static;
}
.materi {
	margin-left: 0;
	background-color: white;
	width: auto;
	border-radius: 0px 0px 10px 10px;
}
.materi ul {
	margin-top: 10px;
	margin-left: 0;
	margin-bottom: 10px;
}
.materi ul li {
	background-color: rgb(7, 32, 40);
	color: white;
	font-weight: bold;
	border-radius: 10px;
	margin-right: 10px;
	margin-left: 0;
	width: auto;
	padding: 4px;
	list-style: none;
	text-align: center;
	box-shadow: 0px 0px 10px black;
}
.materi ul li:hover {
	background-color: #12F5BF;
}
.flex-container {
	display: flex;
	flex-wrap: row wrap;
	background: rgba(35, 37, 50, 0.3);
	justify-content: left;
	border-radius: 0;
	padding: 31px;
	width: auto;
}
.flex-container .materi {
	width: 12em;
	display: inline-table;
	background-color: rgb(7, 32, 40);
	margin: 10px 0px 0px 0px;
	border-radius: 25px 0px 0px 25px;
}
.flex-container .materi ul {
	text-align: center;
	align-content: center;
}
.flex-container .materi ul li {
	margin: 40px auto;
	border-radius: 10px 0px 0px 10px;
	list-style: none;
	color: black;
	text-transform: uppercase;
	width: auto;
	font-weight: bold;
	background-color: white;
	box-shadow: 0px 1px 20px black;
}
.flex-container .materi ul li:hover {
	background-color: #12F5BF;
}
.marquee {
	background-color: rgb(7, 32, 40);
	width: 100%;
	position: static;
}
.flex-container .content {
	background-color: rgba(255, 255, 255, 0.1);
	width: auto;
	color: white;
	float: left;
	margin: 10px 0;
	border-radius: 0 21px 21px 21px;
	padding: 10px;
	text-align: center;
	font-size: 13px;
}
aside {
	text-align: justify;
	box-shadow: 7px 1px 18px black;
	border-radius: 10px;
	width: auto;
	position: sticky;
	line-height: 14px;
	text-align: center;
	padding: 8px;
	background-color: #0C0B0B;
	height: 29em;
	margin: 10px 10px;
}
aside img {
	border-radius: 10px;
	margin-top: 10px;
}
article {
	border-radius: 10px;
	padding: 20px;
	margin: 10px 5px 10px 5px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 1px 20px black;
	font-weight: normal;
	text-align: justify;
}
article p {
	font-size: 17px;
}
article h1 {
	color: #12F5BF;
	text-transform: uppercase;
}
.footer {
	height: 30px;
	width: 100%;
	line-height: 30px;
	border-radius: 0px 0px 15px 15px;
	text-align: center;
	background-color: rgb(7, 32, 40);
	color: #fff;
	word-spacing: 5px;
}
.footer p {
	margin: 5px 5px 2px 5px;
}
.home {
	width: 171px;
	height: 21px;
	background-color: #12F5BF;
	position: fixed;
	margin: 18em -1px;
	border-radius: 10px 0px 0px 10px;
	padding: 11px;
}
.home:hover {
	background-color: red;
}
.home a {
	color: black;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: black;
}
.contact {
	margin: 3px 5px 5px 5px;
	background-color: #12F5BF;
	text-align: center;
	padding: 8px;
	color: black;
	height: 10px;
}
div .vote {
	position: sticky;
	display: inline-block;
	width: 209px;
	height: 89px;
	padding: 10px;
	border-radius: 0px 10px 10px 0px;
	background: rgb(7, 32, 40);
	color: white;
	box-shadow: 4px 0px 10px black;
}
div .vote img {
	margin-left: 5px;
	margin-top: -33px;
	background-color: transparent;
}
div .down {
	display: flex;
	flex-direction: column;
}